<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.ProjectInfoMapper">
    <select id="getProjectInfoList" parameterType="String" resultType="ProjectInfo">
        SELECT *
        FROM projectInfo
        WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="projectName!=null and projectName!=''">
            AND project_name = #{projectName}
        </if>
        <if test="customerInfo!=null and customerInfo!=''">
            AND customer_info = #{customerInfo}
        </if>
        <if test="leader!=null and leader!=''">
            AND leader = #{leader}
        </if>
        <if test="milepost!=null and milepost!=''">
            AND milepost = #{milepost}
        </if>
        <if test="projectFunction!=null and projectFunction!=''">
            AND project_function = #{projectFunction}
        </if>
        <if test="businessArea!=null and businessArea!=''">
            AND business_area = #{businessArea}
        </if>
        <if test="technology!=null and technology!=''">
            AND technology = #{technology}
        </if>
        <if test="scheduleTime!=null">
            AND schedule_time = #{scheduleTime}
        </if>
        <if test="deliveryTime!=null">
            AND delivery_time = #{deliveryTime}
        </if>
        LIMIT #{pageFirst},#{pageLast}
    </select>

    <select id="getProjectInfoCount" parameterType="String" resultType="Integer">
        SELECT count(*)
        FROM projectInfo
        WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="projectName!=null and projectName!=''">
            AND project_name = #{projectName}
        </if>
        <if test="customerInfo!=null and customerInfo!=''">
            AND customer_info = #{customerInfo}
        </if>
        <if test="leader!=null and leader!=''">
            AND leader = #{leader}
        </if>
        <if test="milepost!=null and milepost!=''">
            AND milepost = #{milepost}
        </if>
        <if test="projectFunction!=null and projectFunction!=''">
            AND project_function = #{projectFunction}
        </if>
        <if test="businessArea!=null and businessArea!=''">
            AND business_area = #{businessArea}
        </if>
        <if test="technology!=null and technology!=''">
            AND technology = #{technology}
        </if>
        <if test="scheduleTime!=null">
            AND schedule_time = #{scheduleTime}
        </if>
        <if test="deliveryTime!=null">
            AND delivery_time = #{deliveryTime}
        </if>
    </select>

    <update id="updateProjectInfo"  parameterType="com.apriltechnology.achieveit.dto.ProjectInfoSearch">
         update projectinfo
         SET project_name = #{projectName},
             customer_info = #{customerInfo},
             leader = #{leader},
             milepost = #{milepost},
             project_function = #{projectFunction},
             business_area = #{businessArea},
        <if test="scheduleTime!=null">
             schedule_time = #{scheduleTime},
        </if>
        <if test="deliveryTime!=null">
             delivery_time = #{deliveryTime},
        </if>
             technology = #{technology}
         where id = #{id}
    </update>

    <delete id="deleteProjectInfo" parameterType="java.util.List">
        DELETE FROM projectinfo
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>