<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.DeviceMapper">

    <insert id="insertDevice" parameterType="com.apriltechnology.achieveit.entity.Device">
        insert into device(deviceId,deviceowner,deadline,status)
        values (#{deviceId},#{deviceowner},#{deadline},#{status})
    </insert>


    <select id="getDeviceList" parameterType="String" resultType="Device">
        SELECT *
        FROM device
        WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>

        <if test="deviceowner!=null and deviceowner!=''">
            AND deviceowner = #{deviceowner}
        </if>
        <if test="deadline!=null and deadline!=''">
            AND deadline = #{deadline}
        </if>
        <if test="status!=null and status!=''">
            AND status = #{status}
        </if>
        <if test="deviceId!=null and deviceId!=''">
            AND deviceId  = #{deviceId}
        </if>
        LIMIT #{pageFirst},#{pageLast}
    </select>

    <select id="getDeviceCount" parameterType="String" resultType="Integer">
        SELECT count(*)
        FROM device
        WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>

        <if test="deviceowner!=null and deviceowner!=''">
            AND deviceowner = #{deviceowner}
        </if>
        <if test="deadline!=null and deadline!=''">
            AND deadline = #{deadline}
        </if>
        <if test="status!=null and status!=''">
            AND status = #{status}
        </if>
        <if test="deviceId!=null and deviceId!=''">
            AND deviced  = #{deviceId}
        </if>
    </select>


    <update id="updateDevice"  parameterType="com.apriltechnology.achieveit.dto.DeviceSearch">
        update device
        SET
        deviceowner = #{deviceowner},
        deadline = #{deadline},
        status = #{status},
        deviceId=#{deviceId}
        where id = #{id}
    </update>

    <delete id="deleteDevice" parameterType="java.util.List">
        DELETE FROM device
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



</mapper>