<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.ProjectInfoMapper">
    <select id="getProjectInfoList" parameterType="String" resultType="ProjectInfo">
        SELECT *
        FROM projectInfo
        WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="projectName!=null and projectName!=''">
            AND project_name like concat('%',#{projectName},'%')
        </if>
        <if test="customerInfo!=null and customerInfo!=''">
            AND customer_info like concat('%',#{customerInfo},'%')
        </if>
        <if test="leader!=null and leader!=''">
            AND leader like concat('%',#{leader},'%')
        </if>
        <if test="milepost!=null and milepost!=''">
            AND milepost like concat('%',#{milepost},'%')
        </if>
        <if test="projectFunction!=null and projectFunction!=''">
            AND project_function like concat('%',#{projectFunction},'%')
        </if>
        <if test="businessArea!=null and businessArea!=''">
            AND business_area like concat('%',#{businessArea},'%')
        </if>
        <if test="technology!=null and technology!=''">
            AND technology like concat('%',#{technology},'%')
        </if>
        <if test="scheduleTime!=null">
            AND schedule_time = #{scheduleTime}
        </if>
        <if test="deliveryTime!=null">
            AND delivery_time = #{deliveryTime}
        </if>
        order by id desc
        LIMIT #{offset},#{limit}
    </select>

    <select id="getProjectInfoCount" parameterType="String" resultType="Integer">
        SELECT count(*)
        FROM projectInfo
        WHERE 1=1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="projectName!=null and projectName!=''">
            AND project_name like concat('%',#{projectName},'%')
        </if>
        <if test="customerInfo!=null and customerInfo!=''">
            AND customer_info like concat('%',#{customerInfo},'%')
        </if>
        <if test="leader!=null and leader!=''">
            AND leader like concat('%',#{leader},'%')
        </if>
        <if test="milepost!=null and milepost!=''">
            AND milepost like concat('%',#{milepost},'%')
        </if>
        <if test="projectFunction!=null and projectFunction!=''">
            AND project_function like concat('%',#{projectFunction},'%')
        </if>
        <if test="businessArea!=null and businessArea!=''">
            AND business_area like concat('%',#{businessArea},'%')
        </if>
        <if test="technology!=null and technology!=''">
            AND technology like concat('%',#{technology},'%')
        </if>
        <if test="scheduleTime!=null">
            AND schedule_time = #{scheduleTime}
        </if>
        <if test="deliveryTime!=null">
            AND delivery_time = #{deliveryTime}
        </if>
    </select>

    <update id="updateProjectInfo"  parameterType="com.apriltechnology.achieveit.dto.ProjectInfoSearch">
         update projectinfo
         SET project_name = #{projectName},
             customer_info = #{customerInfo},
             leader = #{leader},
             milepost = #{milepost},
             project_function = #{projectFunction},
             business_area = #{businessArea},
        <if test="scheduleTime!=null">
             schedule_time = #{scheduleTime},
        </if>
        <if test="deliveryTime!=null">
             delivery_time = #{deliveryTime},
        </if>
             technology = #{technology}
         where id = #{id}
    </update>

    <delete id="deleteProjectInfo" parameterType="java.util.List">
        DELETE FROM projectinfo
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertProjectInfo" parameterType="com.apriltechnology.achieveit.entity.ProjectInfo">
        insert into projectInfo(creater_id,project_name,customer_info,leader,milepost,project_function,technology,business_area,schedule_time,delivery_time,status)
        values (#{createrId},#{projectName},#{customerInfo},#{leader},#{milepost},#{projectFunction},#{technology},#{businessArea},#{scheduleTime},#{deliveryTime},#{status})
    </insert>

    <select id="getProjectStatus" resultType="Integer">
        select status
        from projectInfo
        where id = #{projectId}
    </select>

    <update id="changeProjectStatus">
        update projectInfo
        set status = #{status}
        where id = #{projectId}
    </update>

    <select id="getMyTaskProjectInfo" resultType="ProjectInfo">
        select *
        from projectInfo
        where leader = #{leader}
        and status = #{status}
        order by id desc
        limit #{offset},#{limit}
    </select>

    <select id="getMyProjectInfo" resultType="ProjectInfo">
        select *
        from projectInfo
        where creater_Id = #{createrId}
        order by id desc
        limit #{offset},#{limit}
    </select>

    <select id="getQALeaderProject" resultType="ProjectInfo">
        select A.id,A.creater_id,A.project_name,A.customer_info,A.leader,A.milepost,A.project_function,
        A.technology,A.business_area,A.schedule_time,A.delivery_time,A.status,A.create_time,A.change_time
        from projectInfo as A
        left join memberassign as B
        on A.id = B.project_Id
        where B.qa_Member = 0
        and A.status = #{status}
        order by A.id desc
        limit #{offset},#{limit}
    </select>

    <select id="getEPGLeaderProject" resultType="ProjectInfo">
        select A.id,A.creater_id,A.project_name,A.customer_info,A.leader,A.milepost,A.project_function,
        A.technology,A.business_area,A.schedule_time,A.delivery_time,A.status,A.create_time,A.change_time
        from projectInfo as A
        left join memberassign as B
        on A.id = B.project_Id
        where B.epg_Member = 0
        and A.status = #{status}
        order by A.id desc
        limit #{offset},#{limit}
    </select>

    <select id="getMemberProjectIds" resultType="Long">
        select distinct project_id
        from userprojectrole
        where user_id = #{userId}
        order by project_id desc
        limit #{offset},#{limit}
    </select>

    <select id="getProjectInfosByIds" resultType="ProjectInfo">
        select *
        from projectInfo
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getProjectInfoById" resultType="ProjectInfo">
        select *
        from projectInfo
        where id = #{projectId}
    </select>
</mapper>