<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.ProjectRoleMapper">
    <select id="getAllProjectRoles"  resultType="ProjectRole">
        SELECT *
        FROM projectRole
    </select>

    <select id="getRoleNameByIds"  resultType="String">
        SELECT role_name
        FROM projectRole
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>