<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.ProjectUserInfoMapper">

    <select id="getProjectUserInfoList" resultMap="projectUserInfoMap">
        select result.id as user_id,result.user_name,result.role_id as user_role,result.mail as user_mail,
                result.department as user_department,user.mail as projectcharger_mail,result.tel as user_tel
        from (select user.id,user.user_name,user.mail,user.department,user.tel,userprojectrole.role_id
                from userprojectrole left join user
                on user.id = userprojectrole.user_id
                where userprojectrole.project_id=#{projectId}
                and userprojectrole.role_id != 1 and userprojectrole.role_id != 5) as result,
        userprojectrole u left join user on user.id = u.user_id
        where u.project_id =#{projectId} and u.role_id=1
    </select>

    <resultMap id="projectUserInfoMap" type="ProjectUserInfo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_mail" property="userMail"/>
        <result column="user_department" property="userDepartment"/>
        <result column="projectcharger_mail" property="projectChargerMail"/>
        <result column="user_tel" property="userTel"/>
        <collection property="userRole" ofType="long">
            <id column="user_role" property="userRoles"/>
        </collection>
    </resultMap>

    <select id="judgeProjectUserInfo" parameterType="com.apriltechnology.achieveit.dto.ProjectUserAdd" resultType="UserProjectRole">
        select userprojectrole.user_id,userprojectrole.project_id,userprojectrole.role_id,
        userprojectrole.create_time,userprojectrole.change_time
        from userprojectrole, (select id
        from projectrole
        where description = #{roleDescription}) as result
        where userprojectrole.role_id = result.id and userprojectrole.user_id=#{userId}
        and userprojectrole.project_id = #{projectId}
    </select>

    <insert id="projectUserAdd" parameterType="com.apriltechnology.achieveit.dto.ProjectUserAdd">
        insert into userprojectrole (user_id, project_id, role_id)
        select #{userId} ,#{projectId} ,id
        from projectrole
        where description = #{roleDescription}
    </insert>

    <delete id="projectUserDelete">
        DELETE FROM userprojectrole
        WHERE project_id =#{projectId} and user_id =#{userId}
    </delete>

    <update id="projectUserEdit" parameterType="com.apriltechnology.achieveit.dto.ProjectUserEdit">
        update userprojectrole
        set role_id = #{newRoleId}
        where user_id=#{userId} and project_id = #{projectId} and role_id=#{usedRoleId}
    </update>
</mapper>