<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.UserProjectPermissionMapper">
    <insert id="insertUserProjectPermission" parameterType="com.apriltechnology.achieveit.dto.UserProjectPermissionInfo" >
        insert into userProjectPermission (user_id,project_id,git_permission,mail_permission,file_permission)
        values (#{userId},#{projectId},#{gitPermission},#{mailPermission},#{filePermission})
    </insert>

    <update id="editUserProjectPermission" parameterType="com.apriltechnology.achieveit.dto.UserProjectPermissionInfo" >
        update userProjectPermission
        set git_permission = #{gitPermission},
            mail_permission = #{mailPermission},
            file_permission = #{filePermission}
        where user_id = #{userId}
        and project_id = #{projectId}
    </update>

    <select id="searchUserProjectPermission" resultType="UserProjectPermission">
        select *
        from userProjectPermission
        where user_id = #{userId}
        and project_id = #{projectId}
        limit 1
    </select>

</mapper>