<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apriltechnology.achieveit.mapper.WorkHourInfoMapper">
    <select id="getWorkHourInfoList" parameterType="String" resultType="WorkHourInfo">
        SELECT *
        FROM workhourinfo
        WHERE DATE(start_time)= #{date}
    </select>

</mapper>